@model VisitACity.Web.ViewModels.Administration.Restaurants.CreateRestaurantInputModel
@{
    this.ViewData["Title"] = "Create restaurant";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<h1> Create restaurant</h1>