@model VisitACity.Web.ViewModels.Administration.Restaurants.CreateRestaurantInputModel
@{
    this.ViewData["Title"] = "Create restaurant";
}
<h1> Create restaurant</h1>
<div asp-validation-summary="All" class="text-danger"></div>
