@model VisitACity.Web.ViewModels.Plans.CreatePlanInputModel
@{
    this.ViewData["Title"] = "Add new plan";

}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-danger">@this.TempData["Message"]</div>
}
<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h2>Where are you travelling to?</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
       <label asp-for="CountryId" class="form-label">Country</label>
          <select id="CountryList" name="CountryId" asp-for="CountryId" asp-items="Model.Countries" class="form-control">
                    <option value="">Select country</option>
          </select>
          <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityId" class="form-label">City</label>
          <select id="CityList" name="CityId" asp-for="CityId" asp-items="Model.Cities" class="form-control">
            <option value="">Select city</option>
        </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FromDate"></label>
        <input asp-for="FromDate" class="form-control" />
        <span asp-validation-for="FromDate" class="text-danger"></span>
    </div>
    <label asp-for="ToDate"></label>
    <div class="form-group">
        <input asp-for="ToDate" class="form-control" />
        <span asp-validation-for="ToDate" class="text-danger"></span>
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Create your plan</button>
</form>
    <form method="post" id="antiForgeryForm" type="hidden">

    </form>
@section Scripts{
    <script type="text/javascript">
$(document).ready(function() {
    $("#CountryList").change(function() {
        var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
        $("#CityList").empty();
        $.ajax({
            type: 'POST',
            url: '/Plan/LoadCities?id=1',
            dataType: 'json',
            data: { id: $("#CountryList").val() },
            headers: {
                "X-CRSF-TOKEN" : antiForgeryToken
            },

            success: function(response) {
                $("#CityList").append($("<option></option>").val(0).html("Select city"));
                $.each(response.cities, function(i, city) {
                    $("#CityList").append($("<option></option>").val(city.value).html(city.text));
                });
                    
            },
            failure: function(response) {
                alert(response.responseText);

            }
        });

        return false;
    });
});
        </script>
}
