
@using VisitACity.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h3 style="margin-top:50px"; class="display-12">Where are you travelling to?</h3>
   <div class="container">
   <div class="input-group" style="margin-top:50px">
        <input type="text" class="form-control py-2" value="" placeholder="City" />
      <button class="btn btn-outline-primary border-right-0 border" 
         type="button">Search</button>
    </div>
</div>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Attractions
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Restaurants
  </label>
</div>
