@using VisitACity.Web.ViewModels.Reviews
@model ReviewAttractionViewModel

<div class="media; media-body" style="width: 100%; border: 1px, solid black">
    <h5 class="mt-0">@Model.CreatedOn.ToShortDateString() by @ViewBag.UserFirstName</h5>
    <div class="media-body">@Model.Content</div>
    <div class="ratings">
        <div class="stars">
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="fa fa-star"></i>
            }

        </div>

    </div>

</div>
