@using VisitACity.Web.ViewModels.Reviews
@model CreateReviewInputModel
@{
    this.ViewData["Title"] = "Create comment ";
}
<form method="post" class="col-md-6 offset-md-3" >
    <h2>Leave your comment here:</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Rating"></label>
         <div class="rating"> 
                              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                              <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
          </div>
                          
        <input type="hidden" asp-for="Rating" class="form-control"></input>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea rows="6" cols="6" asp-for="Content" class="form-control">
            </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
   </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>