@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Admin
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Attractions" asp-action="Create">Create Attraction</a></li>
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Restaurants" asp-action="Create">Create Restaurant</a></li>
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Cities" asp-action="Create">Create City</a></li>
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Countries" asp-action="Create">Create Country</a></li>
     <li><a class="dropdown-item" asp-area="Administration" asp-controller="Cities" asp-action="Delete">Delete City</a></li>
    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Countries" asp-action="Delete">Delete Country</a></li>
  </ul>
</div>
}