@model VisitACity.Web.ViewModels.Plans.CreatePlanInputModel
@{
    this.ViewData["Title"] = "Add new plan";
}

<form method="post" class="col-md-6 offset-md-3" 
      enctype="multipart/form-data">
    <h2>Where are you travelling to?</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Country"></label>
        @* <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>*@
        <input asp-for="Country" class="form-control" placeholder="Country"/>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        @* <select asp-for="CityId" class="form-control" asp-items="cityItems"></select>*@
        <input asp-for="City" class="form-control" placeholder="City"/>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="FromDate"></label>
        <input asp-for="FromDate" class="form-control"/>
        <span asp-validation-for="FromDate" class="text-danger"></span>
    </div>
         <label asp-for="ToDate"></label>
        <div class="form-group">
        <input asp-for="ToDate" class="form-control"/>
        <span asp-validation-for="ToDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create your plan</button>
</form>
@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@