@model VisitACity.Web.ViewModels.Administration.Countries.CountryFormModel
@{
    this.ViewData["Title"] = "Delete country";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Delete" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Delete" />
            </div>
        </form>
    </div>
</div>