@model VisitACity.Web.ViewModels.Administration.Attractions.CreateAttractionInputModel
@{
    this.ViewData["Title"] = "Create attraction";
}

<h1> Create attraction</h1>
<div asp-validation-summary="All" class="text-danger"></div>
